---
---
@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #3d3d3d;
    background-image: linear-gradient(120deg, #3d3d3d, #3d3d3d); 
}
#my-title{
display: none;
}
footer {
visibility:hidden;
}

// Remove padding
@media (min-width: 70em) {
.main-content{
padding: 0; 
max-width: 90rem;
}
}
