---
---
@import "{{ site.theme }}";
#my-title{
display: none;
}
footer {
visibility:hidden;
}
.main-content{
padding: 0; 
max-width: 70rem;
}
// Remove padding
@media (min-width: 70em) {
.main-content{
padding: 0; 
max-width: 90rem;
}
}
